@import "tailwindcss";

@theme{
    --color-primary: #47348A;
    --color-secondary: #F1A255

}
body {
  font-family: "Rubik", sans-serif;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    height: 0px; 
  }

  .hide-scrollbar {
    scrollbar-width: none; 
  }
}
